* {
    box-sizing: border-box;
}

body {
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    overflow-y: hidden;
    color: white;
    text-align: center;
}